__pycache__/
*.py[cod]
*.so

.venv/
venv/
build/
dist/
*.egg-info/

rd_*/
outputs/
histograms/plots/
*.log
*.logfile
*.aux
*.bbl
*.blg
*.out
*.fdb_latexmk
*.fls

*.pkl
!icats/tutorials/precomputed/**/wang.pkl

*.pdf
*.png
*.zip

tutorial_*/
tutorial_hist_*/
